@import "../components/poll.scss";

.home {
  padding-left: 20px;
  padding-top: 50px;
}
.toggle-answered {
  width: 250px;
  height: 75px;
  font-size: 20px;
  @include shadow;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50px;
}
.toggle-answered:focus {
  outline: none;
}

.answered {
  background-color: #0e771c;
}
.answered:hover, .answered:focus {
  background-color: hsl(128, 79%, 16%);
}

@media screen and (max-width: 768px) {
  .toggle-answered {
    font-size: 14px;
    width: 150px;
    height: 45px;
  }
}

