.login-page {
  padding-left: 25px;
}
.login-form {
  width: 300px;
  height: 200px;
  max-width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.username-input {
  margin: 10px 10px;
}
.login-btn {
  margin: 30px 60px;
}
.signup-message {
  color: #666;
}
.signup-message a {
  color: rgb(94, 196, 243);
}